* {
	margin: 0;
	padding: 0;
}

html,
body{
	width: 100%;
	height: 100%;
}

#Chinchilla {
	position: relative;
	top:25%;
	left:50%;
	transform: translateX(-50%);
	width: 450px;
	height: 500px;
	background-color: #fff;

}

#head {
	position: absolute;
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 50;
	margin-left: -110px;
	width: 220px;
	height: 150px;
	border-radius: 110px / 75px;
	background-color: #797768;
}

#head .ear {
	position: absolute;
	width: 0px;
	height: 0px;
	border-color: transparent transparent #797768 transparent;
	border-style: dashed dashed solid dashed;
	border-width: 70px 13px;
	border-radius: 10px;
}

#head .ear.ear-left {
	top: -135px;
	left: 30px;
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
}

#head .ear.ear-left::after {
	position: absolute;
	top: 61px;
	left: -5px;
	width: 10px;
	height: 25px;
	background-color: #797768;
	content: "";
}

#head .ear.ear-right {
	top: -135px;
	right: 30px;
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	-o-transform: rotate(10deg);
	transform: rotate(10deg);
	-ms-transform: rotate(10deg);
}

#head .ear.ear-right::after {
	position: absolute;
	top: 61px;
	left: -5px;
	width: 10px;
	height: 25px;
	background-color: #797768;
	content: "";
}

#head .nose {
	position: absolute;
	top: 40px;
	left: 50%;
	margin-left: -15px;
	width: 30px;
	height: 10px;
	border-radius: 50%;
	background-color: #333;
}

#head .nose::after {
	position: absolute;
	top: 7px;
	left: 0px;
	width: 15px;
	height: 5px;
	border-radius: 50%;
	background-color: #797768;
	content: "";
}

#head .nose::before {
	position: absolute;
	top: 7px;
	right: 0px;
	width: 15px;
	height: 5px;
	border-radius: 50%;
	background-color: #797768;
	content: "";
}

.eyes {
	position: absolute;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: #fff;
}

.eyes.eyes-left {
	top: 25px;
	left: 40px;
}

.eyes.eyes-left::after {
	position: absolute;
	top: 9px;
	left: 9px;
	z-index: 50;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #000;
	content: "";
}

.eyes.eyes-left::before {
	position: absolute;
	top: 15px;
	left: 15px;
	z-index: 51;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: #fff;
	content: "";
}

.eyes.eyes-right {
	top: 25px;
	right: 40px;
}

.eyes.eyes-right::after {
	position: absolute;
	top: 9px;
	left: 9px;
	z-index: 50;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #000;
	content: "";
}

.eyes.eyes-right::before {
	position: absolute;
	top: 15px;
	left: 15px;
	z-index: 51;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: #fff;
	content: "";
}

.beard {
	position: absolute;
	width: 100px;
	height: 2px;
	background-color: #000;
}

.beard.beard-left{
	top:60px;
	left:-75px;
}
.beard.beard-left::after{
	width: 100px;
	height: 2px;
	background-color: #000;
	position: absolute;
	content:"";
	top:-20px;
	left:0px;
	-webkit-transform: rotate(15deg);
	-moz-transform: rotate(15deg);
	-ms-transform: rotate(15deg);
	-o-transform: rotate(15deg);
	transform: rotate(15deg);
}
.beard.beard-left::before{
	width: 100px;
	height: 2px;
	background-color: #000;
	position: absolute;
	content:"";
	top:20px;
	left:0px;
	-webkit-transform: rotate(-15deg);
	-moz-transform: rotate(-15deg);
	-ms-transform: rotate(-15deg);
	-o-transform: rotate(-15deg);
	transform: rotate(-15deg);
}

.beard.beard-right{
	top:60px;
	right:-75px;
}

.beard.beard-right::after{
	width: 100px;
	height: 2px;
	background-color: #000;
	position: absolute;
	content:"";
	top:-20px;
	left:0px;
	-webkit-transform: rotate(-15deg);
	-moz-transform: rotate(-15deg);
	-ms-transform: rotate(-15deg);
	-o-transform: rotate(-15deg);
	transform: rotate(-15deg);
}

.beard.beard-right::before{
	width: 100px;
	height: 2px;
	background-color: #000;
	position: absolute;
	content:"";
	top:20px;
	left:0px;
	-webkit-transform: rotate(15deg);
	-moz-transform: rotate(15deg);
	-ms-transform: rotate(15deg);
	-o-transform: rotate(15deg);
	transform: rotate(15deg);
}

.arm {
	position: absolute;
	width: 85px;
	height: 230px;
	border-radius: 52%;
	background-color: #797768;
}

.arm.arm-left {
	top: 128px;
	left: 11px;
	-webkit-transform: rotate(8deg);
	-moz-transform: rotate(8deg);
	-o-transform: rotate(8deg);
	transform: rotate(8deg);
	-ms-transform: rotate(8deg);
}

.arm.arm-right {
	top: 128px;
	right: 11px;
	-webkit-transform: rotate(-8deg);
	-moz-transform: rotate(-8deg);
	-o-transform: rotate(-8deg);
	transform: rotate(-8deg);
	-ms-transform: rotate(-8deg);
}

.leg {
	position: absolute;
	width: 0px;
	height: 0px;
	border-color: #797768 transparent transparent transparent;
	border-style: solid dashed dashed dashed;
	border-width: 50px 70px;
}

.leg.leg-left {
	top: 421px;
	left: 111px;
}

.leg-left::after {
	position: absolute;
	top: -7px;
	left: -10px;
	width: 20px;
	height: 20px;
	background-color: #fff;
	content: "";
}

.leg.leg-right {
	top: 421px;
	right: 111px;
}

.leg-right::after {
	position: absolute;
	top: -7px;
	left: -10px;
	width: 20px;
	height: 20px;
	background-color: #fff;
	content: "";
}

#body {
	position: absolute;
	top: 50px;
	left: 50%;
	margin-left: -193px;
	width: 386px;
	height: 400px;
	border-radius: 45%;
	background-color: #797768;
}

.belly {
	position: absolute;
	top: 56%;
	left: 50%;
	z-index: 52;
	margin-top: -175px;
	margin-left: -175px;
	width: 350px;
	height: 320px;
	border-radius: 50%;
	background-color: #e1db9d;
}

.asd {
	position: absolute;
	margin-left: 50px;
	width: 30px;
	height: 10px;
	border-radius: 20% 50% 50% 20%;
	background-color: #797768;
	-webkit-transform: rotate(25deg);
	-moz-transform: rotate(25deg);
	-o-transform: rotate(25deg);
	transform: rotate(25deg);
	-ms-transform: rotate(25deg);
}

.asd::after {
	position: absolute;
	top: 10px;
	left: -21px;
	width: 30px;
	height: 10px;
	border-radius: 50% 20% 20% 50%;
	background-color: #797768;
	content: "";
	-webkit-transform: rotate(-50deg);
	-moz-transform: rotate(-50deg);
	-o-transform: rotate(-50deg);
	transform: rotate(-50deg);
	-ms-transform: rotate(-50deg);
}

.asd.pattern1 {
	top: 58px;
	left: 38px;
}

.asd.pattern2 {
	top: 58px;
	left: 118px;
}

.asd.pattern3 {
	top: 58px;
	left: 198px;
}

.asd.pattern4 {
	top: 108px;
	left: 15px;
}

.asd.pattern5 {
	top: 108px;
	left: 85px;
}

.asd.pattern6 {
	top: 108px;
	left: 155px;
}

.asd.pattern7 {
	top: 108px;
	left: 225px;
}

h1{
	font-size: 30px;
	color:#666;
	text-align:center;
	font-weight: normal;
	text-shadow: 2px 2px 2px #ccc;
}



